#ultim{
    width: 600px;
    height: 300px;
    border: 3px black;
    display: flex;
    flex-direction: column;
}
.contener{
    justify-content: space-around;
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 100%;

}
.content{
    width: 25%;
    margin: 5px;
    display:flex;
    justify-content: center;
    align-content: center;
}
.content h2{
    align-items: center;
}
.content.turquoise{
    background-color: aqua;
}
.content.blue{
    background-color: blue;
}
.content.red{
    background-color: red;
    width: 100%;
}
.content.orange{
    background-color: orange;
}
.content.violet{
    background-color: blueviolet;
}

h2{
    background-color: rgb(245,245,245, 0.5);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-content: center;
}

p{
    display: block;
    display: flex;
    color: black;
}
